certifi
charset-normalizer
click
colorama
Flask
Flask-Cors
gunicorn
idna
importlib-metadata
itsdangerous
Jinja2
joblib
MarkupSafe
nltk
numpy
pandas
pip
python-dateutil
pytz
regex
requests
scikit-learn
scipy
setuptools
six
sklearn
threadpoolctl
tqdm
urllib3
Werkzeug
wheel
wincertstore
zipp
